.animate-shakeme {
  transform: rotate(20deg);
  animation: shakeme 2s 0.2s infinite;
}

.animate-shakeme-bubble {
  translate: -20px -5px;
  animation: shakeme-bubble 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-shakeme-button {
  animation: shakeme-button 2s 0.2s infinite;
}

@keyframes shakeme {
  0% {
    transform: scale(1);
    translate: 15px 7px;
  }
  90% {
    transform: scale(1);
    translate: 0 0;
  }
  95% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shakeme-bubble {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(0.7);
  }
  20% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(1.1);
  }
  50%,
  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes shakeme-button {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  95% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
